:root {
	--main-bg-color: #0c2427;
	--second-bg-color: #eee;
	
	--main-highlight-color: #c24c3d;
	--second-highlight-color: powderblue;

	--main-text-color: #fff;
	--second-text-color: black;
	--neutral-text-color: #aaa;
	
	--project-button-hover: #1e5a62;
	--form-button-hover: #9b3d31;
	
	--modal-bg-color: #fff;
	--project-header-color: #aaa;
}

* {
	margin: 0;
	padding: 0;
}

::-webkit-scrollbar {
	width: 0;
}

body {
	background-color: var(--main-bg-color);
	color: var(--main-text-color);
	opacity: 0;
	transition: opacity 1s;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 16px;  /* base font size equals 1em */
}

body.loaded {
	opacity: 1;
}

/* form elements don't inherit font styles so need to be specified */
label, input, textarea, .button {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 1.3em;
}

h1, h2, h3, h4 {
	font-weight: 100;
	text-align: center;
}

h1 {
	font-size: 3em;
}

h2, h4 {
	color: var(--main-highlight-color);
}

h2 {
	font-size: 2.5em;
	padding: 1em;
}

h3 {
	font-size: 2em;
	font-weight: 300;
	padding: 0.5em;
}

h4 {
	font-size: 1.5em;
}

p {
	margin: 1em;
	font-size: 1.3em;
}

a {
	text-decoration: none;
	color: inherit;
}

sub {
	font-size: 0.7em;
}

/* ------------------------ navbar start ------------------------ */

nav {
	display: none;
}

/* ------------------------ navbar end ------------------------ */

/* ------------------------ splash start ------------------------ */

.splash {
	height: 100vh;
}

.headline {
	position: absolute;
	top: 50%;
	left: 50%;
	min-width: 400px;
	transform: translate(-50%, -50%);
	text-align: center;
	pointer-events: none;
}

.skills {
	color: var(--second-highlight-color);
	position: relative;
	top: -1em;
	font-size: 1em;
}

.diamond {
	color: var(--main-highlight-color);
	font-size: 0.7em;
	position: relative;
	top: -0.1em;
}

/* animated down arrow on mobile */
.splash::after {
	content: "";
	height: 4vh;
	width: 4vh;
	border-right: solid 3px var(--main-highlight-color);
	border-bottom: solid 3px var(--main-highlight-color);
	transform: translate(-50%, -10vh) rotate(45deg);
	position: absolute;
	bottom: 0vh;
	left: 50%;
	animation-name: bounce;
	animation-duration: 2s;
	animation-iteration-count: 4;
	opacity: 0;
}

@keyframes bounce {
	0% {transform: translate(-50%, -10vh) rotate(45deg); opacity: 0}
	20% {transform: translate(-50%, -10vh) rotate(45deg); opacity: 1}
	90% {transform: translate(-50%, -1vh) rotate(45deg); opacity: 1}
	100% {transform: translate(-50%, -1vh) rotate(45deg); opacity: 0}
}

/* ------------------------ splash end ------------------------ */

/* ------------------------ projects start ------------------------ */

.projects {
	background-color: var(--second-bg-color);
	color: var(--second-text-color);
}

.project > img {
	display: block;
	width: 90%;
	max-width: 400px;
	margin-left: 50%;
	transform: translateX(-50%);
	box-shadow: 3px 3px 5px var(--neutral-text-color);
}

.project > a {
	display: block;
	text-decoration: none;
	width: 70%;
	max-width: 280px;
	margin: 1em auto;
}

.project-link {
	font-size: 1.2em;
	height: 2.5em;
	width: 100%;
	background-color: var(--main-bg-color);
	color: var(--second-highlight-color);
	border: 0;
}

.description {
	font-weight: 300;
	padding-bottom: 1em;
}

.click-close {
	display: none;
}

/* ------------------------ projects end ------------------------ */

/* ------------------------ about start ------------------------ */

.profile-pic {
	position: relative;
	top: 0.6em;
	float: left;
	margin: 1em;
	width: 8em;
	box-shadow: 3px 3px 15px rgba(0,0,0,0.7);
}

.skills-list ul {
	margin-left: 3em;
}

/* ------------------------ about end ------------------------ */

/* ------------------------ contact start ------------------------ */

.social-media {
	height: 2em;
	text-align: center;
}

.icon {
	display: inline-block;
	height: 100%;
}

.github {
	width: 2em;
	background-image: url(images/icons/Github.png);
	background-repeat: no-repeat;
	background-size: contain;
}

.linkedin {
	width: 2em;
	background-image: url(images/icons/Linkedin.png);
	background-repeat: no-repeat;
	background-size: contain;
}

.github:active {
	width: 2em;
	background-image: url(images/icons/Github-color.png);
	background-repeat: no-repeat;
	background-size: contain;
}

.linkedin:active {
	width: 2em;
	background-image: url(images/icons/Linkedin-color.png);
	background-repeat: no-repeat;
	background-size: contain;
}

form {
	width: 90%;
	margin: 1em auto;
}

form div + div {
	margin-top: 0.5em;
}

label {
	display: block;
	color: var(--second-highlight-color)
}

input,
textarea {
	width: 100%;
	box-sizing: border-box;
	border: 1px solid #999;
	background-color: var(--second-bg-color);
}

textarea {
	height: 10em;
}

.button {
	background-color: var(--main-highlight-color);
	color: var(--main-text-color);
	border: 0;
	padding: .4em 0;
	margin: 1em auto;
	width: 100%;
}

.copyright {
	text-align: center;
	margin: 0.5em;
	font-size: 0.8em;
}

/* ----------------------- media query ----------------------- */
/* ----------------------- media query ----------------------- */
/* ----------------------- media query ----------------------- */
/* ----------------------- media query ----------------------- */
/* ----------------------- media query ----------------------- */
/* ----------------------- media query ----------------------- */
/* ----------------------- media query ----------------------- */


@media screen and (min-width: 701px) {
	
	/* Everything, incl fonts, needs to be based on vh for perfect scalability */
	
	body {
		font-size: 3vh;  /* base font size equals 1em */
	}
	
	h1 {
		font-size: 5em;
	}
	
	h2 {
		font-size: 2em;
		padding: 0.5em;
	}
	
	h3 {
		font-size: 1em;
		padding: 0;
	}
	
	h4 {
		font-size: 1em;
	}
	
	p {
		margin: 0;
		font-size: 1.3em;
	}

	/* ---------- Nav bar start ---------- */

	nav {
		display: block;
		position: absolute;
		text-align: center;
		width: 80vh;
		padding: 2vh;
		font-size: 1.2em;
		font-family: 'Comfortaa', sans-serif;
		left: 50%;
		transform: translateX(-50%);
		z-index: 2;
	}

	nav > ul > li {
		display: inline-block;
		padding: 1vh 4vh;
		border: 1px solid transparent;
		transition: border 0.7s;
	}

	nav > ul > li > a {
		color: var(--neutral-text-color);
		transition: color 0.5s;
	}

	.highlighted {
		border-top: 1px solid var(--main-highlight-color);
		border-bottom: 1px solid var(--main-highlight-color);
		transition: border 0.3s;
		transition-delay: 0.4s;
		pointer-events: none;
	}

	.highlighted > a {
		color: var(--second-highlight-color);
	}

	nav > ul > li > a:hover {
		color: var(--second-highlight-color);
	}


	/* ---------- Nav bar end ---------- */

	/* ---------- container start ---------- */

	.container {
/*		visibility: visible;*/
		background-color: inherit;
		position: absolute;
		width: 110vh;
		height: 86vh;
		box-sizing: border-box;
		top: 12vh;
		left: 50%;
		transform: translate(-50%);
/*		font-family: 'Roboto', sans-serif;*/
/*		font-size: 3.5vh;*/
/*		font-weight: 100;*/
/*		color: var(--main-text-color);*/
		transition: opacity 0.3s, visibility 0.3s;
		transition-delay: 0.4s;
/*		z-index: 1;*/
		overflow: hidden;
	}

	.container.hide {
		visibility: hidden;
		opacity: 0;
		transition: all 0.3s;
		pointer-events: none;
	}

	/* ---------- container end ---------- */

	/* ---------- splash start ---------- */

	/* hiding it hides the headline even after spinning out */
	
	.splash {
/*		position: absolute;*/
		top: 0;
		height: 100%;
		overflow: visible;
	}
	
/* headline needs to stay visible at all times	*/
	.splash.hide {
		visibility: visible;
		opacity: 1;
	}
	
	.headline {
/*		position: absolute;*/
		width: 100vh;
		height: 24vh;
/*		top: 50%;*/
/*		left: 50%;*/
		transform: translate(-50%, -50%) rotate(0deg);
/*		opacity: 1;*/
/*		color: var(--main-text-color);*/
		transition: all 0.5s;
/*		text-align: center;*/
/*		pointer-events: none;*/
	}

.name {
/*		position: absolute;*/
/*		width: 100%;*/
/*		top: 0;*/
/*		height: 75%;*/
/*		left: 50%;*/
/*		transform: translate(-50%);*/
	}

.skills {
		position: absolute;
		top: 75%;
		height: 25%;
		width: 100%;
		left: 50%;
		transform: translate(-50%);
/*		font-weight: 100;*/
		font-size: 1.5em;
/*		color: var(--second-highlight-color);*/
	}

.diamond {
/*		color: var(--main-highlight-color);*/
		font-size: 0.5em;
/*		position: relative;*/
		top: -0.76vh;
	}

.vertical {
		width: 50vh;
		height: 10vh;
		opacity: 0.5;
		left: -10vh;
		transform: translate(-50%, -50%) rotate(-90deg);
		pointer-events: auto;
		transition: all 0.5s;
	}

.vertical .name {
		color: var(--main-highlight-color);
		height: 75%;
		font-size: 7.5vh;
		transition: all 0.5s;
	}

.vertical .skills {
		top: 75%;
		height: 25%;
		font-size: 2.5vh;
		transition: all 0.5s;
	}

.vertical .diamond {
		font-size: 1vh;
		position: relative;
		top: -0.5vh;
		transition: all 0.5s;
	}

.vertical:hover {
		opacity: 1;
		transition: opacity 0.25s;
	}

	.splash h1 > a {
/*		text-decoration: none;*/
/*		color: inherit;*/
/*		cursor: pointer;*/
	}
	
/* no down arrow for full-size screens	*/
.splash::after {
	display: none;
}


	/* ---------- splash end ---------- */



	/* ---------- projects container start ---------- */

	.project {
		visibility: visible;
		opacity: 1;
		position: absolute;
		box-sizing: border-box;
		border: 1px solid #ccc;
		background-color: var(--modal-bg-color);
		width: 36vh; 
		height: 28vh;
		cursor: pointer;
		transition: top 0.5s 0s, left 0.5s 0s, width 0.5s 0s, height 0.5s 0s, z-index 0.1s 1s, opacity 1s 0.3s, visibility 1s 0.3s;
		overflow: hidden;
	}
	
	.projects h2 {
		display: none;
	}

	.project > h3 {
/*		text-align: center;*/
		background-color: var(--project-header-color);
/*		color: var(--second-text-color);*/
/*		font-size: 0.8em;*/
/*		font-weight: 300;*/
		transition: all 0.5s;
	}

	.project > img {
/*		display: block;*/
/*		margin-left: 50%;*/
/*		transform: translate(-50%);*/
		width: 42vh;
		filter: brightness(60%);
		transition: all 0.5s;
	}

	.project:not(.expanded):hover > img {
		filter: brightness(100%);
		transition: all 0.5s;
	}

	.project.hide {
		visibility: hidden;
		opacity: 0;
		transition: all 0.5s;
	}

	.project.expanded {
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transition: all 0.3s;
		transition-delay: 0.2s;
		cursor: auto;
/*		z-index: 10;*/
	}

	.project.expanded > h3 {
/*		color: var(--main-highlight-color);*/
		padding: 0.3em;
		font-size: 1.2em;
		transition: all 0.5s;
		transition-delay: 0.2s;
	}

	.project.expanded > img {
		width: 50vh;
		margin-top: 2vh;
/*		margin-bottom: 3vh;*/
		transition: all 0.3s 0.2s;
		box-shadow: 5px 5px 10px #444;
		filter: brightness(100%);
	}

	.description {
		position: relative;
/*		top: -0.6em;*/
/*		color: var(--second-text-color);*/
/*		height: 28vh;*/
		width: 90%;
/*		font-size: 1em;*/
		margin: 1em auto;
		opacity: 0;
	}

	.project.expanded > .description {
		opacity: 1;
		transition: opacity 0.5s 0.5s;
	}
	
	.project-link {
		position: absolute;
		bottom: 6vh;
		left: 50%;
		transform: translate(-50%);
		height: 6vh;
		width: 50vh;
/*		background-color: var(--main-bg-color);*/
		color: var(--main-text-color);
		font-family: Roboto;
		font-weight: 100;
		font-size: 3.3vh;
		border: 0;
		transition: background-color 0.25s;
		opacity: 0;
		visibility: hidden;
	}

	.expanded .project-link {
		visibility: visible;
		opacity: 1;
		transition: visibility 0.5s 0.5s, opacity 0.5s 0.5s, background-color 0.25s;
	}

	.project.expanded .project-link:hover {
		background-color: var(--project-button-hover);
		transition: all 0.25s;
		cursor: pointer;
	}

	.click-close {
		display: block;
		position: absolute;
		bottom: 0.5em;
		color: var(--neutral-text-color);
		font-size: 2.5vh;
		font-weight: 300;
		left: 50%;
		transform: translate(-50%);
		opacity: 0;
		visibility: hidden;
	}
	
	.project.expanded .click-close {
		visibility: visible;
		opacity: 1;
		transition: visibility 0.5s 0.5s, opacity 0.5s 0.5s;
	}

	.project1 {
		top: 0;
		left: 0;
	}

	.project2 {
		top: 0;
		left: 37vh;
	}

	.project3 {
		top: 0vh;
		left: 74vh;
	}

	.project4 {
		top: 29vh;
		left: 0vh;
	}

	.project5 {
		top: 29vh;
		left: 37vh;
	}

	.project6 {
		top: 29vh;
		left: 74vh;
	}

	.project7 {
		top: 58vh;
		left: 0vh;
	}

	.project8 {
		top: 58vh;
		left: 37vh;
	}

	.project9 {
		top: 58vh;
		left: 74vh;
	}


	/* ---------- projects container end ---------- */


	/* ---------- about container start ---------- */

	.about {
		overflow: visible;
		font-size: 1em;
	}

	.about.hide {
		height: 86vh;
		overflow: hidden;
	}

	.profile-pic {
		float: left;
		margin: 1vh 3vh 3vh 0;
		width: 150px;
		box-shadow: 3px 3px 15px rgba(0,0,0,0.7);
	}

	.skills-list {
		display: block;
	/*	margin-left: 2em;*/
		clear: both;
	}

	.skills-list > ul {
		margin-left: 1em;
		font-size: 0.8em;
	}

	/*
	.skills-list > ul > li {
		display: block;
		width: 33%;
		float: left;
	}
	*/

	/* ---------- about container end ---------- */


	/* ---------- contact container start ---------- */

	.contact section  {
		width: 40%;
		float: left;
	}

	.contact .social-media {
		width: 100%;
		height: 2em;
	}
	
	.social-media > .icon {
		height: 100%;
/*		filter: contrast(50%);*/
		border-radius: 10%;
	}

	form {
		float: right;
		width: 55%;
	}

	form div + div {
		margin-top: 0.5em;
	}

	label {
		font-weight: 100;
		font-size: 1em;
		display: block;
		width: 100%;
		text-align: left;
		color: var(--second-highlight-color)
	}

	input,
	textarea {
		font: 1em sans-serif;
		width: 100%;
		box-sizing: border-box;
	/*	border-radius: 0.2em;*/
		border: 1px solid #999;
		background-color: var(--modal-bg-color);
	}

	textarea {
		/* align label with top of box */
		vertical-align: top;
		height: 10em;
		/* let user resize box */
		resize: vertical;
	}

	.button {
		display: block;
		background-color: var(--main-highlight-color);
		color: var(--main-text-color);
		font-family: 'Roboto', sans-serif;
		font-size: 1em;
		font-weight: 100;
	/*	border-radius: 0.2em;*/
		border: 0;
		padding: .4em 0;
		cursor: pointer;
		transition: background-color 0.15s;
	}

	.button:hover {
		background-color: var(--form-button-hover);
	}

	.button:active {
		background-color: var(--form-button-hover);
	}

	#form-button {
		margin: 1em auto;
		width: 100%;
		max-width: 500px;
	}

	.copyright {
		position: absolute;
		bottom: 0vh;
		left: 50%;
		transform: translate(-50%);
		font-size: 2.5vh;
	}

	/* ---------- contact container end ---------- */
	
}


















