:root {
	--main-bg-color: #0c2427;
	--second-bg-color: #eee;
	
	--main-highlight-color: #c24c3d;
	--second-highlight-color: powderblue;

	--main-text-color: #fff;
	--second-text-color: black;
	--neutral-text-color: #aaa;
	
	--button-hover: #040;
	--form-button-hover: #742e25;
	
	--modal-bg-color: #fff;
	--project-header-color: #aaa;
}

/* Style rules for screens < 500px */

::-webkit-scrollbar {
	width: 0;
}

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--main-bg-color);
}

/* form elements don't inherit font styles */
body, input, textarea, .button {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 16px;
}

h1 {
	color: var(--main-highlight-color);
	font-weight: 100;
	font-size: 3em;
	text-align: center;
	padding: 0.7em;
}

p {
	color: var(--primary-text-color);
	margin: 1em;
	font-size: 1.3em;
}

/* ------------------------ navbar start ------------------------ */

.nav {
	display: none;
}

/* ------------------------ navbar end ------------------------ */

/* ------------------------ container start ------------------------ */

.container {
	position: relative;
	color: var(--main-text-color);
}

.content-wrapper {
	position: relative;
	max-width: 700px;
	margin: auto;
}

.regmark {
	font-size: 0.7em;
}

/* ------------------------ container end ------------------------ */

/* ------------------------ splash start ------------------------ */

.splash {
	height: 100vh;
}

.splash > .content-wrapper {
	height: 100%;
}

.headline {
	position: absolute;
	top: 50%;
	left: 50%;
	min-width: 400px;
	height: 150px;
	transform: translate(-50%, -50%);
	text-align: center;
	pointer-events: none;
}

.name {
	font-size: 3em;
	color: var(--main-text-color);
}

h1 > a {
	text-decoration: none;
	color: inherit;
}

.skills {
	color: var(--main-highlight-color);
	position: relative;
	top: -3em;
	font-size: 1em;
}

.diamond {
	color: var(--second-highlight-color);
	font-size: 0.7em;
	position: relative;
	top: -0.1em;
}

/* ------------------------ splash end ------------------------ */

/* ------------------------ projects start ------------------------ */

.projects {
	background-color: var(--second-bg-color);
	color: var(--second-text-color);
}

.project > header {
	color: var(--main-bg-color);
	text-align: center;
	font-size: 2em;
	font-weight: 300;
	padding: 0.5em;
}

.project > img {
	display: block;
	width: 90%;
	max-width: 400px;
	margin-left: 50%;
	transform: translateX(-50%);
	box-shadow: 3px 3px 5px var(--neutral-text-color);
}

.project > a {
	display: block;
	text-decoration: none;
	width: 70%;
	margin: 1em auto;
}

.project-link {
	font-size: 1.2em;
	height: 2.5em;
	width: 100%;
	background-color: var(--main-bg-color);
	color: var(--second-highlight-color);
	border: 0;
}

.description {
	font-weight: 300;
	padding-bottom: 1em;
}

.click-close {
	display: none;
}

/* ------------------------ projects end ------------------------ */

/* ------------------------ about start ------------------------ */

.profile-pic {
	float: left;
	margin: 1em;
	width: 8em;
	box-shadow: 3px 3px 15px rgba(0,0,0,0.7);
}

.about p {
	margin: 1em;
	position: relative;
	top: -0.6em
}

.skills-list ul {
	margin-left: 2.5em;
}

/* ------------------------ about end ------------------------ */

/* ------------------------ contact start ------------------------ */

form {
	width: 90%;
	margin: 1em;
}

form div + div {
	margin-top: 0.5em;
}

label {
/*	font-weight: 100;*/
/*	font-size: 1em;*/
	display: block;
/*	width: 100%;*/
/*	text-align: left;*/
/*	color: var(--second-highlight-color)*/
}

input,
textarea {
	width: 100%;
	box-sizing: border-box;
	border: 1px solid #999;
	background-color: var(--second-bg-color);
}

textarea {
	height: 10em;
}

.button {
	background-color: var(--main-highlight-color);
	color: var(--main-text-color);
	border: 0;
	padding: .4em 0;
	margin: 1em auto;
	width: 100%;
}

.copyright {
	text-align: center;
	margin: 0.5em;
  font-size: 0.8em;
}

/* ------------------------ contact end ------------------------ */





















