:root {
	--image-width: 800px;
	--image-height: 600px;
}

* {
	margin: 0;
	padding: 0;
}

.dashboard-image {
	width: var(--image-width);
	height: var(--image-height);
}

.overlay {
	position: absolute;
	width: var(--image-width);
	height: var(--image-height);
	background-color: green;
	top: 0;
	left: 0;
	opacity: 0.5;
	cursor: pointer;
}

.overlay:hover {
	opacity: 0.5;
}

.radio {
	clip-path: polygon(70% 38%, 92% 38%, 92% 52%, 70% 52%);
}

/* using hard values doesn't allow for scaling. use %  */
.horn {
	clip-path: circle(50px at 486px 332px);
}
