* {
	margin: 0;
	padding: 0;
}

body {
	background-color: lightgray;
	font-size: 2vh;
}

.wrapper {
	background-color: darkgreen;
	width: 100vw;
	max-width: 80vh;
	height: 100vh;
	margin-left: auto;
	margin-right: auto;
}

.levels {
/*	display: none;*/
}

.level-btn {
	display: block;
	width: 15em;
	height: 2.5em;
	margin-top: 0.7em;
}

.start-btn {
	display: none;
}

.interface {
	display: none;
}

.curr-level {
	height: 30px;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	background-color: blue;
	text-align: left;
	font-size: 25px;
	color: white;
	padding-left: 10px;
}

.score {
	height: 30px;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	background-color: skyblue;
	text-align: left;
	font-size: 25px;
	padding-left: 10px;
}

.number-display {
	height: 100px;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	background-color: black;
	color: yellow;
	text-align: center;
	line-height: 100px;
	font-size: 80px;
	margin-top: 20px;
}








.btnNumber {
	background-color: mediumblue;
	font-size: 24px;
/*	box-shadow: 5px 5px 5px #888888;*/
	text-align: center;
	color: white;
	margin-top: 5px;
	height: 80px;
	width: 100px;
/*	border-radius: 10px;*/
}

#btnStartOver {
	width: 360px;
	height: 50px;
	margin-top: 20px;
}