body {
	background-color: lightgray;
}

.wrapper {
  text-align: center;
	width: 500px;
	height: 800px;
	margin-left: auto;
	margin-right: auto;
}

.btnMenu {
	background-repeat: no-repeat;
	background-position: 20% 50%;
	background-color: mediumblue;
	font-size: 18px;
	box-shadow: 2px 2px 8px #888888;
	color: gray;
	margin: 5px auto;
	height: 70px;
	width: 300px;
	padding-left: 120px;
	text-align: left;
/*	border-radius: 10px;*/
}

.btnMenu:hover {
	border: 30px;
}

#btnEnglish {
	background-image: url(flags/uk.png);
	color: white;
	opacity: 1;
}

#btnJapanese {
	background-image: url(flags/japan.png);
}

#btnFrench {
	background-image: url(flags/france.png);
}

#btnSpanish {
	background-image: url(flags/spain.png);
}

#btnChinese {
	background-image: url(flags/china.png);
}

#btnGerman {
	background-image: url(flags/germany.png);
}

#btnTest {
    top: 50%;
}

.btnNumber {
	background-color: mediumblue;
	font-size: 24px;
/*	box-shadow: 5px 5px 5px #888888;*/
	text-align: center;
	color: white;
	margin-top: 5px;
	height: 80px;
	width: 100px;
/*	border-radius: 10px;*/
}

#btnStartOver {
	width: 360px;
	height: 50px;
	margin-top: 20px;
}

#btnStart {
	margin-left: auto;
	margin-right: auto;
	margin-top: 200px;
}

#levelLabel {
	height: 30px;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	background-color: blue;
	text-align: left;
	font-size: 25px;
	color: white;
	padding-left: 10px;
}

#scoreboard {
	height: 30px;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	background-color: skyblue;
	text-align: left;
	font-size: 25px;
	padding-left: 10px;
}

#guess {
	height: 100px;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	background-color: black;
	color: yellow;
	text-align: center;
	line-height: 100px;
	font-size: 80px;
	margin-top: 20px;
}
